<form class="search" role="form" method="GET" action="results" novalidate>
    <label class="search__label" for="search">Search for houses and flats for sale across the UK</label>
    <input class="search__input" name="search" type="text" id="search" placeholder="">
    <input class="search__submit-button" type="submit" value="Search" />
</form>